*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;  
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../Home_Page_Images/triphub_bg_login.png");
    background-size: cover;
    background-position: center;
}
.container {
    align-items: center;
    justify-content: center;
}

 .img {
    position:absolute;
  max-width: 25%;
  max-height:15%;
    left: 10px;
  top: 20px;
}

.text .text-th{
position: absolute;
color: white;
left: 50px;
top: 32px;
text-decoration: none;
 }

.Triphub {
    width: 420px;
    height: 325px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.285);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.288);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.Triphub h1 {
    font-size: 36px;
    text-align: center;
}

.Triphub .input-box {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 20px 0;
}
.Triphub .input-box2 {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 15px 0;
}

.Triphub .input-box3 {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 15px 0;
}

.lhcss {
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-weight: 800;
}

.input-box .input-box2 {                                            
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input {                                            
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: white;
}
.Triphub .btn {
    width: 101%;
    height: 45px;
    background: grey;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}
.Triphub .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}

.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline; 
}